<div class="background-color text-white">
    <div class="container">
        
        <div class="d-flex justify-content-center align-items-center vh-100">
            <div class="text-center">
                <div class="card card-background text-white">
                    <div class="mb-3">
                       <h4 class="mt-2">Signup</h4>
                    </div>
                    <div class="mb-3 ms-3 me-3">
                        <img src="images/worker.png" style="height: 50px;" alt="">
                    </div>
                    <div class="mb-3 ms-3 me-3">
                        <label  class="form-label">Name <i class="fa fa-star" style="font-size: 8px;"></i>  </label>
                        <input type="text" class="form-control " >
                    </div>
                    <div class="mb-3 ms-3 me-3">
                        <label for="exampleInputEmail1" class="form-label">Email address <i class="fa fa-star" style="font-size: 8px;"></i> </label>
                        <input type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text text-white">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3 ms-3 me-3">
                        <label for="exampleInputPassword1" class="form-label">Password <i class="fa fa-star" style="font-size: 8px;"></i> </label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="d-flex justify-content-center mb-3 ">
                        <input type="checkbox" class="form-check-input me-1" id="exampleCheck1" >
                        <span >Check me out</span>
                    </div>
                    <div class="d-flex justify-content-center mb-3">
                        <button type="submit" class="btn btn-primary me-2">Signup</button>
                        <button type="submit" class="btn btn-secondary">login</button>
                    </div>
                </div>
             
            </div>
          </div>
       

    </div>
</div>