<div class="background-color">
    <div class="container">

        <h4 class="text-white pt-2">Blogs  <span style="float: right;">
          <a [href]="addBlogUrl" class="btn btn-warning">Add Blog</a>
        </span></h4>
       
        <hr>
        <div class="row">
            <div class="col-sm-6">
              <div class="card  mb-3">
                <img src="..." class="card-img-top" alt="Loading...">
                <div class="card-body">
                  <h5 class="card-title">Blog Title</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card  mb-3">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
