<div class="background-color">
  <div class="container">
    <!-- <h3 class="text-white">Data</h3> -->

    <div class="dropdown pt-3">
      <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filter
      </button>
      <ul class="dropdown-menu card-background">
        <li><a class="dropdown-item text-white  menu-hover" href="#">Action</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item text-white  menu-hover" href="#">Another action</a></li>
        <li><hr class="dropdown-divider"></li> 
        <li><a class="dropdown-item text-white  menu-hover" href="#">Something else here</a></li>
      </ul>
    </div>
    <hr />
    <div class="pt-3 pb-5">
      <!-- start of first row color full chart -->
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card text-bg-primary mb-3">
            <div class="card-header">Total Users</div>
            <div class="card-body">
              <h5 class="card-title">Primary card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-bg-success mb-3">
            <div class="card-header">Total Blogs</div>
            <div class="card-body">
              <h5 class="card-title">Success card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-bg-danger mb-3">
            <div class="card-header">Average Weekly Post</div>
            <div class="card-body">
              <h5 class="card-title">Danger card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- end of first row color full chart -->
      <!-- start of second row chart   -->
      <div class="row row-cols-1 row-cols-md-3 g-4 pt-5 pb-5">
        <div class="col">
          <div class="card card-background text-white">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-background text-white">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-background text-white">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- end of second row chart   -->
      <!-- start of third row  -->
      <div class="row row-cols-1 row-cols-md-6 g-4">
        <div class="col">
          <div class="card card card-background text-white">
            <div class="card-body">
              <h5 class="card-title">Total Users</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card card-background text-white">
            <div class="card-body">
              <h5 class="card-title">Total Blogs</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card card-background text-white">
            <div class="card-body">
              <h5 class="card-title">Yearly Add Users</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card card-background text-white">
            <div class="card-body">
              <h5 class="card-title">Weekly Users</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card card-background text-white">
            <div class="card-body">
              <h5 class="card-title">Per User Blog</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card card-background text-white">
            <div class="card-body">
              <h5 class="card-title">Weekly Blogs</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- end of third row  -->
    </div>
  </div>
</div>