<div class="background-color">

    <div class="container pt-3 ">
        <div class="card mb-3 ">

            <div class="card-body">

                <div class="text-center">
                    <img src="images/worker.png" style="border-radius: 500px; height: 100px;" alt="Loading..">
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Enter Heading</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Enter Description</label>
                    <input type="text" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="disabledSelect" class="form-label">select catagory</label>
                    <select id="disabledSelect" class="form-select">
                      <option>Disabled select</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="disabledSelect" class="form-label">select sub-catagory</label>
                    <select id="disabledSelect" class="form-select">
                      <option>Disabled select</option>
                    </select>
                  </div>
             <!-- <ckeditor [editor]="editor" data="<p>hello world</p>"></ckeditor> -->
            </div>
        </div>


    </div>
</div>