
<div class="background-color">

<div class=" container pt-5" style="max-height: 400px;">
          
    <table class="table table-dark  " style="height:30px;">
        <thead >
          <tr>
            <th scope="col">#</th>
            <th scope="col">User name</th>
            <th scope="col">Blog name</th>
            <th scope="col">Blog Catagory</th>
            <th scope="col">Number of Likes</th>
            <th scope="col">Number of comments</th>
            <th scope="col">Delete</th>
            <th scope="col">Update</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td><span><img class="logo-style" src="images/delete.png" alt=""></span></td>
            <td><span><img class="logo-style" src="images/pen.png" alt=""></span></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>1500</td>
            <td>0</td>
            <td>0</td>
            <td><span><img class="logo-style" src="images/delete.png" alt=""></span></td>
            <td><span><img class="logo-style" src="images/pen.png" alt=""></span></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>John</td>
            <td>Doe</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td><span><img class="logo-style" src="images/delete.png" alt=""></span></td>
            <td><span><img class="logo-style" src="images/pen.png" alt=""></span></td>
          </tr>
        </tbody>
      </table>
      
    </div> 
</div>
