.background-color{
    background-color: rgb(42, 42, 148);
    background: linear-gradient(rgb(60, 60, 204),rgb(1, 1, 22) );
    height: 100vh;
    /* width: 100vw; */
}
.card-background{
    background-color: rgb(6, 6, 53);
}